/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/


header{
  position: fixed;
  height:40vh;
  width: 100vw;
  background:linear-gradient(#567ea0, #376185);
  z-index: -1;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

section{
  margin-top: 10vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

section > * {
  margin: 1.5rem;
}

.main-content h1 {
  margin-top: 0;
}

.content-container{
  padding:2rem;
  width:25rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .6);
}

footer{
  text-transform: uppercase;
  color: #376185;
  font-weight: bold;
  font-size: smaller;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.logo-container img {
  height: 3.5rem;
}


.login-button {
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  height:fit-content ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-button div {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.login-button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.login-button img {
  width: 1.2rem;
}

.app-button{
  width: 7rem;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: black;
  line-height: 1.15;
  font-size: 16px;
  :hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }
}
